@import "@/design-tokens/styles/scss/variables";

.menu {
  background: #456489;
  padding: 1rem;

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    list-style: none;
    margin-left: 40px;
    cursor: pointer;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    color: white;

    &:hover {
      font-weight: $font-weight-bold;
    }
  }
}
